<footer class="bg-dark text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" >nkescobar.com</a>
  </div>
  <!-- Copyright -->
</footer>

