<table aria-label="categorias" class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categoria of categorias; let i = index">
      <th scope="row">{{categoria.id}}</th>
      <td>{{categoria.nombre}}</td>
      <td>{{categoria.descripcion}}</td>
    </tr>
    <tr *ngIf="categorias.length == 0">
      <td colspan="3">No hay registros</td>
    </tr>
  </tbody>
</table>